<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        
        <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0 maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{asset('bundles/FloridaCampus/css/app.css')}}" type="text/css" />
       
        {% block stylesheets %}{% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body>
        
         <!--Aqui tenemos el jumbotron de la pagina web-->
        <section class="jumbotron">
            <div class="container">
                <h1>FLORIDA CAMPUS IN&OUT</h1>
                <p>Tu campus online de florida</p>
            </div>
        </section>
    
        <!--Aqui se encuntra la barra de navegacion-->
        <header>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacionBar">
                        <span class="sr-only">Desplegar menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/p06FrontEndv1/web/app_dev.php/home#" class="navbar-brand">IN&OUT</a>
                </div>
                <!--Iniciamos aqui el menu-->
                <div class="collapse navbar-collapse" id="navegacionBar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Inicio</a></li>
                        <li><a href="/p06FrontEndv1/web/app_dev.php/info">Info</a></li>
                        <li><a href="#">Pagina 2</a></li>
                     </ul>
                </div>
            </div>
        </nav>    
    </header>
    
        {% block body %}
        
        {% endblock %}
        
         <!-- Footer de la pagina web-->
        <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <p>Esto es el footer de la web</p> 
                </div>
                <div class="col-xs-6">
                    <ul class="list-inline text-right lista-footer">
                        <li><a href="#">prueba 1</a></li>
                        <li><a href="#">prueba 2</a></li>
                        <li><a href="#">prueba 3</a></li>
                    </ul> 
                </div>
            </div>
        </div>
    </footer>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="{{asset('bundles/FloridaCampus/js/app.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>