{% extends "::base.html.twig" %}

{% block title %}Pagina principal de DoInValencia{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-md-12">
              
            </div>    
        </div>
    </section>
    
    <section class="main container">
        <div class="row">
            <!--Seccion principal-->
            <section class="posts col-md-9">
                <!-- INFORMACIÓN-->
                <article class="post clearfix">
                    <a href="#" class="thumb pull-left">
                        <img class="img-thumbnail imagen" src="{{asset('bundles/FloridaCampus/img/logo.png')}}"></img>
                    </a>
                    <h2 class="post-tittle">
                        <a href="#">WEB CAMPUS IN&OUT</a>
                    </h2>
                    <p class="post-contenido text-justify">
                        Esta página tiene como finalidad dar respuesta a los problemas de transporte de la flordia.
                        Así mostramos una herramienta de gestión para dar solución a los problemas de Florida
                        en el desplazamiento a la misma y vuelta.
                    </p>
                </article>
{% endblock %}
{% block javascripts %}{% endblock %}